<phpunit bootstrap="./application/bootstrap.php" colors="true">
  <testsuite name="z2d2">
    <directory>./</directory>
  </testsuite>

  <filter>
    <whitelist>
      <directory suffix=".php">../application/</directory>
      <exclude>
      	<file>../application/bootstrap.php</file>
      	<file>../application/controllers/ErrorController.php</file>
        <directory>../application/scripts</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="log/report" charset="UTF-8"
         yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
    <log type="testdox-html" target="log/testdox.html" />
  </logging>

</phpunit>
